<IfModule mod_rewrite.c>
    # 1. Activar el motor de reescritura de URLs
    RewriteEngine On

    # 2. Si el archivo solicitado NO existe físicamente...
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # 3. Y la carpeta solicitada NO existe físicamente...
    RewriteCond %{REQUEST_FILENAME} !-d

    # 4. Redirigir TODO al index.php pasándole la ruta en la variable 'url'
    # [QSA] = Mantener otros parámetros de la URL (?sec=5, etc)
    # [L]   = No procesar más reglas después de esta
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
